@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: #f68720;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #333;
  color: #fff;
}
